<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link href="/css/all.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="shortcut icon" href="/icons/rps.ico" type="image/x-icon" />
    <script src="/js/socket.io.js"></script>        
    <title>Rock Paper Scissors G.</title>
  </head>

  <body onbeforeunload="disconnect()">
    <header>
      <h1>
        <span class="rock">Rock</span>
        <span class="paper">Paper</span>
        <span class="scissors">Scissors</span>
      </h1>
    </header>

    <section>
      <div class="container" id="c1">
        <div class="menu">
          <!-- <h3>How To Play</h3>
          <ol>
            <li>Player 1: Create a new game by entering the username</li>
            <li>
              Player 2: Enter another username and the room id that is displayed
              on first window.
            </li>
            <li>Click on join game.</li>
          </ol> -->

          <div class="sub-main">
            <div class="new">
              <h4>Create a new Game</h4>
              <form onsubmit="return false;">
                <input
                  type="text"
                  name="name"
                  id="nameNew"
                  placeholder="Enter your name"
                  required
                />
                <button id="new">New Game</button>
              </form>
            </div>

            <div class="join">
              <h4>Join an existing game</h4>
              <form onsubmit="return false;">
                <input
                  type="text"
                  name="name"
                  id="nameJoin"
                  placeholder="Enter your name"
                  required
                />
                <input
                  type="text"
                  name="room"
                  id="room"
                  placeholder="Enter Game ID"
                  required
                />
                <button id="join">Join Game</button>
              </form>
            </div>
          </div>
        </div>
        <div class="gameBoard">
          <h1 id="msg"></h1>
          <h2 id="turn"></h2>
          <!-- <button id="restart" class="res-btn">Restart Game</button> -->
          <div id="score" class="score">
            <p><span id="player1Name"></span> : <span id="p1">0</span></p>
            <p><span id="player2Name"></span> : <span id="p2">0</span></p>
          </div>
          <div class="gamePlay">
            <h2>Make your selection</h2>
            <div class="choices">
              <i id="rock" class="choice fas fa-hand-rock fa-10x"></i>
              <i id="paper" class="choice fas fa-hand-paper fa-10x"></i>
              <i id="scissors" class="choice fas fa-hand-scissors fa-10x"></i>
            </div>
            <div class="chat">
                <span class="jewelcount"></span>
            </div>            
            <div id="players-chat">
                <div id="chat-window">
                    <h2 id="opposite-player-name"></h2>
                    <div id="chatClose">
                        <i class="far fa-times-circle fa-5x"></i>
                    </div>               
                    <div id="output"></div>                
                    <section id="chat-controls" >                    
                        <form class="row" onsubmit="return false">
                            <input
                            class="col-md-9"
                            id="message"
                            type="text"
                            placeholder="message..."
                            />
                            <button type="submit" class="col-md-3" id="send">Send</button>
                        </form>
                    </section>
                </div>              
            </div>                 
          </div>
        </div>
      </div>
    </section>

    <!-- modal -->
    <div class="modal">
      <div id="result" class="modal-content"></div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/all.js"></script>
    <script src="/js/multiplayer.js"></script>
    <%# <script src="/js/chat.js"></script> %>
  </body>
</html>
