@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  line-height: 1.6;
}

header {
  text-align: center;
  margin: 10px auto;
  padding: 0 10px;
}

.rock {
  color: #ff6b6b;
}

.paper {
  color: #01a3a4;
}

.scissors {
  color: #feca57;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}

.res-btn {
  display: none;
  background: #f1f1f1;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 1rem 0;
}

.res-btn:hover {
  background: #feca57;
  color: aliceblue;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.score p:first-child {
  background: #feca57;
  color: #f1f1f1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.score p:last-child {
  background: #333;
  color: #f1f1f1;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  text-align: center;
  padding-right: 10px;
  outline: none;
  border: none;
}

.choice {
  cursor: pointer;
}

.choice:hover:nth-child(1) {
  color: #ff6b6b;
}

.choice:hover:nth-child(2) {
  color: #01a3a4;
}

.choice:hover:nth-child(3) {
  color: #feca57;
}

.text-win {
  color: #2ecc71;
}

.text-lose {
  color: #c0392b;
}

@media (max-width: 700px) {
  .choices {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .choices {
    display: flex;
    flex-direction: column;
  }
  
   .choice {
    padding: 20px 0;
  }
}
